<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /lpage-server/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /lpage-server/index.php [L]
</IfModule>


